In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import scipy.stats as stats

In [2]:
data =pd.read_csv("cancellation_codes.csv")
data

  CANCELLATION_REASON CANCELLATION_DESCRIPTION
0                   A          Airline/Carrier
1                   B                  Weather
2                   C      National Air System
3                   D                 Security

In [3]:
data.describe()

       CANCELLATION_REASON CANCELLATION_DESCRIPTION
count                    4                        4
unique                   4                        4
top                      A          Airline/Carrier
freq                     1                        1

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 2 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   CANCELLATION_REASON       4 non-null      object
 1   CANCELLATION_DESCRIPTION  4 non-null      object
dtypes: object(2)
memory usage: 196.0+ bytes

In [5]:
data.shape

(4, 2)

In [6]:
cancellation_codes = pd.read_csv('cancellation_codes.csv')
duplicates = cancellation_codes[cancellation_codes.duplicated(subset=['CANCELLATION_REASON'])]
print("Number of duplicate cancellation codes:", duplicates.shape[0])

Number of duplicate cancellation codes: 0

In [7]:
data.isnull().sum()

CANCELLATION_REASON         0
CANCELLATION_DESCRIPTION    0
dtype: int64

The file is cross-checked , it is cleaned and is ready to use...

Now the cleaning part has been done so let's call the dataset for last time before we shall export the cleaned data into csv format for further analysis in Mysql and Power BI

In [8]:
data

  CANCELLATION_REASON CANCELLATION_DESCRIPTION
0                   A          Airline/Carrier
1                   B                  Weather
2                   C      National Air System
3                   D                 Security

In [10]:
# Save the cleaned dataset to a new CSV file
data.to_csv('cancellation_codes_final.csv', index=False)